{% extends 'base.html.twig' %}

{% block title %}ALAPJ34 - Page d'acceuil{% endblock %}

{% block body %}
    {# Slider des images de la paillade #}


            <div class="mt-80">
            hello
            </div>



{% endblock %}
