<div class="" style="margin-top: 150px">
    <div class="flex flex-row justify-center items-center md:justify-between mt-8 mb-5 md:mt-10 md:mb-5 mx-1 md:mx-32">
        <div></div>
        <div><span class="mx-5 font-bold">Support </span> <span class="mx-5 font-bold">Qui sommes nous ?</span></div>
        <div class="flex flex-row space-x-1 md:space-x-5">
            <img src="{{ asset('assets/images/twitter.png') }}" alt="" width="15px">
            <img src="{{ asset('assets/images/facebook.png') }}" alt="" width="15px">
            <img src="{{ asset('assets/images/instagram.png') }}" alt="" width="15px">
        </div>
    </div>
    <div class="flex flex-col w-100 justify-center items-center py-2 mx-5 mb-14 ">
        <hr class="mb-5"  style="width: 72%;">
        <div class="flex flex-row items-center justify-center">
            <div class="text-[8px] md:text-[12px] text-gray-500 mx-[5px] md:mx-40 md:font-semibold font-bold">© Copyright 2022,Tout Droits Réservés</div>
            <div class="text-[8px] md:text-[12px] text-gray-500 mx-[5px] md:mx-40 md:font-semibold font-bold" >Politique de confidentialité</div>
            <div class="text-[8px] md:text-[12px] text-gray-500 mx-[5px] md:mx-40 md:font-semibold font-bold">Termes et conditions</div>
        </div>
    </div>
</div>